@import "tailwindcss/base";

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "oxanium-extra-light";
  src: url("../../public/fonts/Oxanium-ExtraLight.ttf");
}

@font-face {
  font-family: "oxanium-light";
  src: url("../../public/fonts/Oxanium-Light.ttf");
}

@font-face {
  font-family: "oxanium-medium";
  src: url("../../public/fonts/Oxanium-Medium.ttf");
}

@font-face {
  font-family: "oxanium-regular";
  src: url("../../public/fonts/Oxanium-Regular.ttf");
}

@font-face {
  font-family: "oxanium-semibold";
  src: url("../../public/fonts/Oxanium-SemiBold.ttf");
}
@font-face {
  font-family: "oxanium-bold";
  src: url("../../public/fonts/Oxanium-Bold.ttf");
}

@font-face {
  font-family: "oxanium-extrabold";
  src: url("../../public/fonts/Oxanium-ExtraBold.ttf");
}

.bkg1 {
  background-image: url("../../public/img/bg/area_bg01.jpg");
}

.footerbkg {
  background-image: url("../../public/img/bg/footer_bg.jpg");
  background-color: aliceblue;
}

.product-card {
  background-color: transparent;
}

.login {
  width: 25rem;
  height: 38rem;
  padding: auto;
  margin: auto;
  text-align: center;
}

.login-bkg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50rem;
}

.form-header {
  font-size: 5rem;
  margin-bottom: -1rem;
}

.login-submission {
border: solid 3px #C34993;
outline: none;
font-size: 1rem;
border-radius: 10px;
background-color: transparent;
padding: 0.25rem 2rem 0.25rem 2rem;
}

.login-submission:hover {
border-top-style: hidden;
border-right-style: hidden;
border-left-style: hidden;
border-bottom-style: groove;
border: #C34993 solid 3px;
border-radius: 10px;
background-color: #C34993;
padding: 1, 0.5, 1, 0.5;
}

.email-input {
  background-color: transparent;
  display: inline;
  padding: 0.5rem;
  font-family: oxanium-medium;
  font-size: 1.5rem;
  color: whitesmoke;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  margin-bottom: 1rem;
  border-color: #C34993;
}

::placeholder {
  color: whitesmoke;
}

.arrow-icon {
  display: inline;
}

.or-login-with {
margin: 25px 0;
font-size: 15px;
text-align: center;
outline: none;
color: whitesmoke;
}
.social-btn {
cursor: pointer;
margin-bottom: 20px;
width: 50%;
height: 2rem;
outline: none;
outline-width: 50px;
padding: 0.25rem;
font-family: oxanium-bold;
font-size: 1rem;
background-size: 2rem;
background-color: transparent;
border: #C34993 solid 3px;
border-radius: 10px;
background-repeat: no-repeat;
background-position: 5% 50%;
}

.social-btn a {
color: white;
}

.redirecting {
color: gray;
font-size: 12px;
margin-bottom: 5px;
}

.gradient {
	transition: .3s linear;
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0.375) 100%);
}

.gradient:hover {
  transition: .3s linear;
  mask-image: linear-gradient(360deg, rgba(255, 0, 0, 0) 0%,rgba(0,0,0,1) 100%);

}

.glow-white {
  -webkit-box-shadow:0px 0px 118px 36px rgba(250,250,250,0.75);
  -moz-box-shadow: 0px 0px 118px 36px rgba(250,250,250,0.75);
  box-shadow: 0px 0px 118px 36px rgba(250,250,250,0.75); 
}

.c{fill:#fff;}

.d{fill:#009444;}

.intro {
  letter-spacing:-.04em;
}

.intro-text {
  fill:#ef4477;
  font-family: MyriadPro-Regular, Myriad Pro;
  font-size:165.07px;
}

.intro-circle {
  fill:#231f20;
}

.intro-circle-text {
  letter-spacing:-.02em;
}

